@font-face {
    font-family: 'Celias';
    src: url('/fonts/Celias.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Celias', sans-serif;
    margin: 0;
}
.contain {
    width: 100%;
    font-family: 'Celias', sans-serif;
    display: flex;
    background-color: #ECEFF3;
    margin: 0;
}
.left {
    height: 100%;
    width: 20%;
}
.zone_title {
    display: flex;
    align-items: center;
    margin-left: 7%;
    height: 70px;
}
.mini_logo {
    width: 30px;
    height: 30px;
    background-color:  #38618C;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cercle {
    width: 40%;
    height: 40%;
    background-color: white;
    border-radius: 50%;
}
nav {
    margin-top: 30px;
}
nav li {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-left: 20px;
    height: 60px;
}
.right {
    height: 100%;
    width: 80%;
}
.zone_search_profil {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
}
.zone_search_profil input {
    height: 30px;
    border: none;
    width: 70%;
    background-color: #ECEFF3;
}
.mini_image_profil {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mini_image_profil img {
    width: 30px;
    height: 30px;
}
.image_login {
    border-radius: 50%;
}
.zone_crypto {
    display: flex;
    width: 100%;
    height: 100%;
}
.zone_crypto_left {
    width: 63%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.zone_crypto_right {
    width: 37%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.list_crypto {
    background-color: white;
    height: 400px;
    border-radius: 10px;
    width: 90%;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.market_crypto {
    background-color: white;
    height: 200px;
    border-radius: 10px;
    width: 90%;
    margin-top: 20px;
}
.zone_achat {
    background-color: white;
    width: 360px;
    height: 600px;
    width: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6px;
    padding-bottom: 20px;
}
.action {
    width: 75%;
    background-color: #ECEFF3;
    display: flex;
    justify-content: space-between;
    border-radius: 11px;
}
.action .bouton_action {
    width: 33%;
    display: flex;
    justify-content: center;
}
nav li img {
    width: 24px;
    height: 24px;
}
.action .bouton_action h1 {
    font-size: 10px;
}
.bouton_buy {
    width: 320px;
    height: 40px;
    background-color:  #38618C;
    border: none;
    border-radius: 10px;
    color: white;
    margin-top: 20px;
}
.price {
    background-color: #F6F7FA;
    width: 320px;
    height: 157px;
    border-radius: 11px;
    margin: 5px;
}
.all_crypto {
    width: 320px;
    height: 179px;
    border-radius: 11px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid #e9e9ea;
    background-color: white;
}
.all_crypto1 {
    width: 100%;
    height: 50%;
    margin: 5px;
    border-bottom: 1px solid #e9e9ea;
    display: flex;
    align-items: center;
}
.usd {
    width: 44px;
    height: 44px;
    background-color: #ebe8fc;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
}
.usd_contain {
    width: 40%;
    height: 40%;
    border-radius: 50%;
    background-color:  #38618C;
    display: flex;
    justify-content: center;
    align-items: center;
}
.usd_contain img {
    width: 90%;
    height: 90%;
}
.zone_graphique_text {
    height: 20%;
    padding-left: 40px;
    padding-top: 10px;
}
.zone_graphique_image {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.all_crypto2 {
    width: 100%;
    height: 50%;
    border-radius: 11px;
    margin: 5px;
    font-size: 26px;
    display: flex;
    align-items: center;
    font-weight: bold;
}
a {
    color: black;
    text-decoration: none;
}
.custom_input1 {
    width: 100%;
    height: 50%;
    border: none;
    border-bottom: 1px solid #e9e9ea;
    background-color: #F6F7FA;
    font-weight: bold;
    font-size: 12px;
}
.custom_input2 {
    width: 100%;
    height: 50%;
    border: none;
    background-color: #F6F7FA;
    font-size: 26px;
    font-weight: bold;
    color: black;
}
.price_text {
    font-size: 15px;
}
.zone_image_bitcoin {
    width: 100%;
    height: 100px;
    background-color: #FF5964;
}
.zone_image_bitcoin img {
    width: 30px;
    height: 30px;
}
.title_bitchest {
    margin: 10px;
}
.zone_top_crypto {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 9%;
}
.image_bitcoin {
    width: 70px;
    height: 70px;
    background-color: #e9e9ea;
    border-radius: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image_bitcoin img {
    width: 60%;
    height: 60%;
}
.text_top_crypto {
    height: 100%;
    margin-left: 10px;
}
.text_top_crypto h1 {
    font-size: 24px;
}
.text_top_crypto h2 {
    font-size: 12px;
    color: #6B6E75;
}
.zone_pay_with {
    width: 85%;
    height: 50px;
}
.pay_with {
    color: #6B6E75;
    font-size: 12px;
}
.market {
    font-size: 20px;
    margin-left: 16px;
    height: 10%;
}
.market_cap {
    display: flex;
    width: 100%;
    height: 30%;
    margin-left: 16px;
}
.mini_cap {
    width: 33%;
    height: 100%;
}
.market_cap h2 {
    font-size: 12px;
    font-weight: normal;
}
.market_cap h3 {
    font-size: 16px;
}
.about {
    height: 160px;
    background-color: white;
    border-radius: 11px;
    width: 90%;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-bottom:20px;
}

   .price_crypto{
    height: 620px;
    background-color: white;
    border-radius: 11px;
    width: 90%;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}
.about h1 {
    font-size: 20px;
    font-weight: bold;
}
.about p {
    font-size: 14px;
    color: #6B6E75;
}
.trait {
    height: 1px;
    width: 80%;
    background-color: #E0E3E8;
    margin-top: 20px;
    margin-bottom: 20px;
}
.crypto_zone{
    border-radius:10px;
    display:flex;
    height:64px;
    width:100%;
    border-top:1px solid #E0E3E8;
     border-bottom:1px solid #E0E3E8;
     align-items:center;
}
.logo_crypto{
    width:44px;
    height:44px;
    border-radius:15px;
    background-color:#E0E3E8;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-right:10%;
}
.logo_crypto img{
    width:24px;
    height:24px;
}
.price_crypto_title{
    font-size:20px;
}
.crypto_name{
    width:20%
}
 .crypto_price{
    width:20%;
}
.crypto_cour{
    width:20%;
}
.crypto_price_real{
    width:20%;
}
.bouton_out{
    height:44px;
  width:44px;
  border:none;
   background-color: #ECEFF3;
}
.bouton_out img{
    height:22px;
  width:22px;
}

.erreur {
    font-size: 12px;
    color: #FF5964;
    padding: 3px;
    border: 1px solid #E0E3E8;
    border-radius: 10px;
  }
@media only screen and (min-width: 600px) and (max-width: 768px) and (orientation: portrait) {
    body{
        background-color:#ECEFF3  ;
    }
    .left{
        width: 100%;
    }
    ul{
        display: flex;
        
    }
    .market_cap{
        flex-direction: row;
    }
 .contain{
    flex-direction: column;
 }
 .right{
    width:100%;
 }
 .zone_crypto{
    flex-direction: column;
 }
 .zone_crypto_left {
width: 100%;
}
.market_crypto {
    height: 300px;
    background-color:#ECEFF3  ;
}
.market_cap{
    flex-direction: row;
    margin: 0;
    background-color:#ECEFF3  ;

}
.about {
    border-radius: 0;
    width: 100%;
    background-color: #ECEFF3;
    text-align: center;
    display: flex;
    align-items: center;
    height: 300px;
}
.zone_crypto_right {
width: 100%;
}
.about h1 {
    font-size: 30px;
}
.about p{
    font-size: 20px;
    width: 70%;
}
.price_crypto{
    width: 90%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.zone_top_crypto{
    padding-left: 0;
}
.zone_top_crypto{
height: 300px;
}
.mini_cap {
    width: 100%;
 
}
.zone_top_crypto{
    height: 100px;
}
.image_bitcoin{
    margin-left:20px;
}
.zone_title{
    margin-left:4%;
}
.list_crypto{
    border-radius: 0;
    width:100%;
}
.market_cap{
    margin-left:20px;
}
.about{
    border-radius: 0;
    width: 100%;
    background-color: #ECEFF3; 
}
.zone_achat {
    height: 600px;
    width: 95%;
    border-radius: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.zone_crypto_right{
    margin-bottom:10px;
   
}
}

@media only screen and (max-width: 600px) {
    body{
        background-color:#ECEFF3  ;
    }
 .contain{
    flex-direction: column;
 }
 .right{
    width:100%;
 }
 .zone_crypto{
    flex-direction: column;
 }
 .zone_crypto_left {
width: 100%;
}
.market_crypto {
    height: 700px;
    background-color:#ECEFF3  ;
}
.market_cap{
    flex-direction: column;
    margin: 0;
    background-color:#ECEFF3  ;

}


.zone_top_crypto{
    padding-left: 0;
}
.zone_top_crypto{
height: 300px;
margin-top:0px;
}
.mini_cap {
    width: 100%;
 
}
.zone_top_crypto{
    height: 100px;
    margin-top: 0px;
}
.image_bitcoin{
    margin-left:20px;
}
.list_crypto{
    border-radius: 0;
    width:100%;
}

.market_cap{
    margin-left:20px;
}
.market_crypto{
    height: auto;
}
.about{
    border-radius: 0;
    width: 92%;
    background-color: white; 
    border-radius: 15px;
    padding: 10px;
}

.zone_achat{
    height: 600px;
}
.zone_crypto_right{
    margin-top: 0;
    margin-bottom:60px;
}
.price_crypto{
    width: 92%;
  border-radius: 15px;
}
}